<ion-header>
  <ion-toolbar>
    <ion-title> Reestablecer Contraseña</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <form action="">
    <ion-item fill="outline">
      <ion-label position="floating">Correo</ion-label>
      <ion-input placeholder="Correo"></ion-input>
    </ion-item> <br>
  </form>
  <br>
  <ion-button id="present-alert" color="dark" routerLink="/ingresar">Reestablecer</ion-button>
  <ion-alert
    trigger="present-alert"
    header="Reestablecer contraseña enviado"
    message="Revise su correo electronico para cambiar la contraseña"
    [buttons]="alertButtons"
  ></ion-alert>
</ion-content>